<app-header
  [title]="'Consultar Acto Inseguro'"
  [logoUrl]="'assets/images/indra/logo_indra.png'"
  [headerImageUrl]="'assets/images/indra/edificio_indra.png'">
</app-header>

<div class="container">
  <div class="consultar-acto">
    <h2>Consultar Acto Inseguro</h2>
    <div class="row">
      <div class="col">
        <label for="codigo">Código</label>
        <input type="text" id="codigo" placeholder="Correlativo" [(ngModel)]="detalle.id" disabled>
      </div>
      <div class="col">
        <label for="empresa">Empresa</label>
        <input type="text" id="empresa" placeholder="Empresa" [(ngModel)]="detalle.user?.company.name" disabled>
      </div>
      <div class="col">
        <label for="area">Área/Proyecto</label>
        <input type="text" id="area" placeholder="Área / Proyecto" [value]="detalle.user?.project" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="nombres">Nombres y Apellidos</label>
        <input type="text" id="nombres" placeholder="Nombres y Apellidos"  [value]="detalle.user?.name" disabled>
      </div>
      <div class="col">
        <label for="dni">DNI</label>
        <input type="text" id="dni" placeholder="DNI" [value]="detalle.user?.dni" disabled>
      </div>
      <div class="col">
        <label for="estado">Estado</label>
        <input type="text" id="estado" placeholder="Estado" [(ngModel)]="detalle.status" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="responsable">Responsable</label>
        <input type="text" id="responsable" placeholder="Responsable de Área/Proyecto" [value]="detalle.user?.project_manager" disabled>
      </div>
      <div class="col">
        <label for="fecha">Fecha Publicación</label>
        <input type="date" id="fecha" [(ngModel)]="detalle.date" disabled>
      </div>
      <div class="col">
        <label for="hora">Hora Publicación</label>
        <input type="time" id="hora" [(ngModel)]="detalle.hour" disabled>
      </div>
    </div>
  </div>

  <div class="reporte-acto">
    <h2>Reporte de Acto Inseguro</h2>
    <div class="reporte-layout">
      <div class="left">
        <ul>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct1" [checked]="detalle.repAct1" disabled /> Mala postura corporal</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct2" [checked]="detalle.repAct2" disabled /> Trabajo con calzado inadecuado</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct3" [checked]="detalle.repAct3" disabled /> Ingerir bebidas calientes en el escritorio de trabajo</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct4" [checked]="detalle.repAct4" disabled /> Sobrecargar las instalaciones eléctricas</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct5" [checked]="detalle.repAct5" disabled /> Jugar/bromear durante el desarrollo de una actividad de riesgo</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct6" [checked]="detalle.repAct6" disabled /> Trabajar o permitir trabajar sin EPP's</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct7" [checked]="detalle.repAct7" disabled /> Operar equipos sin autorización</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct8" [checked]="detalle.repAct8" disabled /> Usar equipos defectuosos</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct9" [checked]="detalle.repAct9" disabled /> Trabajar bajo los efectos del alcohol y/o drogas</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct10" [checked]="detalle.repAct10" disabled /> Desactivar dispositivos de seguridad</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct11" [checked]="detalle.repAct11" disabled /> Cargar o levantar incorrectamente</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct12" [checked]="detalle.repAct12" disabled /> Dar servicio a equipo en funcionamiento</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct13" [checked]="detalle.repAct13" disabled /> Uso indebido de equipos o materiales</li>
        </ul>
      </div>

      <div class="center">
        <img src="assets/images/indra/savety.png" alt="Imagen del Acto Inseguro" class="imagen-reporte">
      </div>

      <div class="right">
        <div class="form-group">
          <label for="otros">Otros (Describa lo que observó)</label>
          <textarea id="otros" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="accion">¿Se tomó alguna acción inmediata?</label>
          <textarea id="accion" [(ngModel)]="detalle.immediate_action" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="sugerencia">¿Cuál sería la sugerencia de mejora?</label>
          <textarea id="sugerencia" [(ngModel)]="detalle.suggestion_improvement" disabled></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="submit" class="btn-generar">Generar AC-AP</button>
    <button type="button" class="btn-volver" (click)="volver()">Volver</button>
  </div>
</div>
