<app-header
  [title]="''"
  [logoUrl]="'assets/images/indra/logo_indra.png'"
  [headerImageUrl]="'assets/images/indra/edificio_indra.png'">
</app-header>

<div class="container">
  <div class="consultar-acto">
    <h2>{{ detalle.type === 'action' ? 'Consultar Acto Inseguro' : 'Consultar Condición Insegura' }}</h2>
    <div class="row">
      <div class="col">
        <label for="codigo">Código</label>
        <input type="text" id="codigo" placeholder="Correlativo" [(ngModel)]="detalle.id" disabled>
      </div>
      <div class="col">
        <label for="empresa">Empresa</label>
        <input type="text" id="empresa" placeholder="Empresa" [(ngModel)]="detalle.user?.company.name" disabled>
      </div>
      <div class="col">
        <label for="area">Área/Proyecto</label>
        <input type="text" id="area" placeholder="Área / Proyecto" [value]="detalle.user?.project" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="nombres">Nombres y Apellidos</label>
        <input type="text" id="nombres" placeholder="Nombres y Apellidos"  [value]="detalle.user?.name" disabled>
      </div>
      <div class="col">
        <label for="dni">DNI</label>
        <input type="text" id="dni" placeholder="DNI" [value]="detalle.user?.dni" disabled>
      </div>
      <div class="col">
        <label for="estado">Estado</label>
        <input type="text" id="estado" placeholder="Estado" [(ngModel)]="detalle.status" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="responsable">Responsable</label>
        <input type="text" id="responsable" placeholder="Responsable de Área/Proyecto" [value]="detalle.user?.project_manager" disabled>
      </div>
      <div class="col">
        <label for="fecha">Fecha Publicación</label>
        <input type="date" id="fecha" [(ngModel)]="detalle.date" disabled>
      </div>
      <div class="col">
        <label for="hora">Hora Publicación</label>
        <input type="time" id="hora" [(ngModel)]="detalle.hour" disabled>
      </div>
    </div>
  </div>

  <div class="reporte-acto">
    <h2>{{ detalle.type === 'action' ? 'Reporte de Acto Inseguro' : 'Reporte Condición Insegura' }}</h2>
    <div class="reporte-layout">
      <div class="left">
        <ul>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct1" [checked]="detalle.repAct1" disabled /> {{ detalle.type === 'action' ? 'Mala postura corporal' : 'Falta de orden y limpieza' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct2" [checked]="detalle.repAct2" disabled /> {{ detalle.type === 'action' ? 'Trabajo con calzado inadecuado' : 'Guardas o barreras inadecuadas' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct3" [checked]="detalle.repAct3" disabled /> {{ detalle.type === 'action' ? 'Ingerir bebidas calientes en el escritorio de trabajo' : 'Pasamanos de las escaleras inadecuadas o mal estado' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct4" [checked]="detalle.repAct4" disabled /> {{ detalle.type === 'action' ? 'Sobrecargar las instalaciones eléctricas' : 'Iluminación deficiente/excesiva en el ambiente de trabajo' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct5" [checked]="detalle.repAct5" disabled /> {{ detalle.type === 'action' ? 'Jugar/bromear durante el desarrollo de una actividad de riesgo' : 'Equipos de protección personal incorrectos o inadecuados' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct6" [checked]="detalle.repAct6" disabled /> {{ detalle.type === 'action' ? 'Trabajar o permitir trabajar sin EPPs' : 'Ruido excesivo en el área de trabajo' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct7" [checked]="detalle.repAct7" disabled /> {{ detalle.type === 'action' ? 'Operar equipos sin autorización' : 'Piso en mal estado' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct8" [checked]="detalle.repAct8" disabled /> {{ detalle.type === 'action' ? 'Usar equipos defectuosos' : 'Ascensores en mal estado' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct9" [checked]="detalle.repAct9" disabled /> {{ detalle.type === 'action' ? 'Trabajar bajo los efectos del alcohol y/o drogas' : 'Falta de señalización en área o equipo' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct10" [checked]="detalle.repAct10" disabled /> {{ detalle.type === 'action' ? 'Desactivar dispositivos de seguridad' : 'Presencian de polvos/gases en el área de trabajo' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct11" [checked]="detalle.repAct11" disabled /> {{ detalle.type === 'action' ? 'Cargar o levantar incorrectamente' : 'Condiciones de trabajo peligrosas' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct12" [checked]="detalle.repAct12" disabled /> {{ detalle.type === 'action' ? 'Dar servicio a equipo en funcionamiento' : 'Herramientas y equipos defectuosos' }}</li>
          <li><input type="checkbox" [(ngModel)]="detalle.repAct13" [checked]="detalle.repAct13" disabled /> {{ detalle.type === 'action' ? 'Uso indebido de equipos o materiales' : 'Materiales químicos peligrosos expuestos' }}</li>
        </ul>
      </div>

      <div class="center">
        <img [src]="detalle.img ? detalle.img : 'assets/images/indra/savety.png'" alt="Imagen del Acto Inseguro" class="imagen-reporte">
      </div>

      <div class="right">
        <div class="form-group">
          <label for="otros">Otros (Describa lo que observó)</label>
          <textarea id="otros" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="accion">¿Se tomó alguna acción inmediata?</label>
          <textarea id="accion" [(ngModel)]="detalle.immediate_action" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="sugerencia">¿Cuál sería la sugerencia de mejora?</label>
          <textarea id="sugerencia" [(ngModel)]="detalle.suggestion_improvement" disabled></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button type="submit" class="btn-generar">Generar AC-AP</button>
    <button type="button" class="btn-volver" (click)="volver()">Volver</button>
  </div>
</div>
