<app-header
  [title]="'SISTEMA DE IDENTIFICACIÓN DE POTENCIALES INCIDENTES LABORALES'"
  [logoUrl]="'ruta-de-nuevo-logo.png'"
  [headerImageUrl]="'ruta-de-nueva-imagen.png'">
</app-header>

<div class="dashboard-container">

  <div class="content">
    <div class="welcome-section">
      <h2>Bienvenid Nelly</h2>
      <div class="actions">
        <button class="action-button" (click)="navigateToInboxActoInseguro()">Inbox de Acto o Condición Insegura</button>
        <button class="action-button">Registrar Acción Correctiva o Preventiva</button>
        <button class="action-button">Consultar Acción Correctivas o Preventiva</button>
      </div>
    </div>

    <div class="illustration-section">
      <img src="ruta-de-imagen-generica" alt="Ilustración de seguridad" class="illustration">
    </div>
  </div>

  <div class="footer">
    <p>Política de cookies</p>
  </div>
</div>
